<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="author" content="Rhett Harrison reharri7@asu.edu">
	<link rel="stylesheet" href="/styles.css" type="text/css">

</head>
<body>

	<h1>Welcome to CodeDevils</h1>

	<div class="container">
	
		<button><a href="https://cdasu.herokuapp.com/fb" target="_self">Facebook</a></button>
		<button><a href="https://cdasu.herokuapp.com/gh" target="_self">GitHub</a></button>
		<button><a href="https://cdasu.herokuapp.com/ig" target="_self">Instagram</a></button>
		<button><a href="https://cdasu.herokuapp.com/li" target="_self">LinkedIn</a></button>
		<button><a href="https://cdasu.herokuapp.com/swag" target="_self">Merchandise</a></button>
		<button><a href="https://cdasu.herokuapp.com/join" target="_self">Register</a></button>
		<button><a href="https://cdasu.herokuapp.com/slack" target="_self">Slack</a></button>
		<button><a href="https://cdasu.herokuapp.com/sds" target="_self">Register on SunDevilSync</a></button>
		<button><a href="https://cdasu.herokuapp.com/yt" target="_self">YouTube</a></button>

	</div>

</body>
</html>