<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="author" content="Rhett Harrison reharri7@asu.edu">

</head>
<body>

<h1>Welcome to CodeDevils</h1>
<button><a href="https://cdasu.herokuapp.com/fb" target="blank">Facebook</a></button>
<button><a href="https://cdasu.herokuapp.com/gh" target="blank">GitHub</a></button>
<button><a href="https://cdasu.herokuapp.com/ig" target="blank">Instagram</a></button>
<button><a href="https://cdasu.herokuapp.com/li" target="blank">LinkedIn</a></button>
<button><a href="https://cdasu.herokuapp.com/swag" target="blank">Merchandise</a></button>
<button><a href="https://cdasu.herokuapp.com/join" target="blank">Register</a></button>
<button><a href="https://cdasu.herokuapp.com/slack" target="blank">Slack</a></button>
<button><a href="https://cdasu.herokuapp.com/sds" target="blank">Register on SunDevilSync</a></button>
<button><a href="https://cdasu.herokuapp.com/yt" target="blank">YouTube</a></button>

</body>
</html>