<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="author" content="Rhett Harrison reharri7@asu.edu">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/styles.css" type="text/css">
	<title>Code Devil's Links</title>
	<link rel="icon" type="image" src="./CDFavicon.png">

</head>
	<body>

		<h1>Welcome to CodeDevils</h1>

		<div class="d-grid gap-2 container">
			<button><a href="https://cdasu.codes/site" target="_self">CodeDevils Website</a></button>
			<button><a href="https://cdasu.codes/fb" target="_self">Facebook</a></button>
			<button><a href="https://cdasu.codes/gh" target="_self">GitHub</a></button>
			<button><a href="https://cdasu.codes/ig" target="_self">Instagram</a></button>
			<button><a href="https://cdasu.codes/li" target="_self">LinkedIn</a></button>
			<button><a href="https://cdasu.codes/swag" target="_self">Merchandise</a></button>
			<button><a href="https://cdasu.codes/join" target="_self">Register on CodeDevils Website</a></button>
			<button><a href="https://cdasu.codes/slack" target="_self">Slack</a></button>
			<button><a href="https://cdasu.codes/sds" target="_self">Register on SunDevilSync</a></button>
			<button><a href="https://cdasu.codes/yt" target="_self">YouTube</a></button>

		</div>

	</body>
</html>