<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="author" content="Rhett Harrison reharri7@asu.edu">

</head>
<body>

<h1>Welcome to CodeDevils</h1>
<button><a href="#">Link</a></button>
<button><a href="#">Link</a></button>
<button><a href="#">Link</a></button>
<button><a href="#">Link</a></button>
<button><a href="#">Link</a></button>
<button><a href="#">Link</a></button>
<button><a href="#">Link</a></button>
<button><a href="#">Link</a></button>
<button><a href="#">Link</a></button>

</body>
</html>