html {
    font-size: 2rem;
  }
  
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #41494f;
  background-color: #ffffff;
  overflow-x: hidden;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; 
}



h1 {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

@media(min-width: 768px) {
  h1 {
    width: 90%;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.container button {
  width: 30%;
  margin: 5px auto;
  padding: 5px;
  background-color: #8a2e4b;
  border-radius: 15px;
}
@media (min-width: 768px){
  .container button {
    width: 70%;
  }
}

.container button a {
  color: #e1a635;
  text-decoration: none;
  display: block;
}

.container button:hover {
  background-color: #9f2e4b;
  transform: scale(1.025);
  transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}